/* revisar tema de body y que sea responsive */
body {
  margin: 0;
  padding: 0;
}

/*=================================================================================*/
/* Estilos para la barra de navegación (Navbar) */
.navbar {  
  width: 100%;
  /* Color de fondo para la barra de navegación */
  background-color: #462ea8; /* Usando un color hexadecimal */
}
/* Estilos para los elementos de la barra de navegación */
.navbar-nav li a {
  /* Tipo de fuente y familia */
  font-family: "Times New Roman", serif;
  /* Color y tamaño de fuente para los enlaces */
  color: rgb(255, 253, 253); /* Blanco para el texto */
  font-size: 1em; /* Tamaño de fuente */
  /* Espaciado y margen derecho para los enlaces */
  margin-right: 10px;
  padding: 0 25px; /* Espaciado interno para los enlaces */
}
/* Estilos para la imagen de la marca (Logo) en la barra de navegación */
.navbar-brand img {
  /* Tamaño máximo para la imagen de la marca */
  max-width: 150px;
  /* Espaciado izquierdo para alinear la imagen de la marca */
  padding-left: 60px;
}

/*=================================================================================*/
/* Estilos para los elementos del Carousel */
/* Estilos para cada ítem del Carousel */
.carousel-item {
  /* Altura del ítem del Carousel, ajustada al 45% del ancho de la ventana */
  height: 45vw;
  /* Sombra para dar profundidad al ítem */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tus preferencias */
}
/* Estilos para las imágenes dentro de los ítems del Carousel */
.carousel-item img {
  /* Ajuste para que la imagen ocupe toda la altura y ancho del ítem */
  height: 100%;
  width: 100%;
}

/*===================================*/
/* Estilos para la sección de la frase principal o noticias */
/* Estilos para el contenedor principal de la frase */
.section-frase-principal .frase-principal {
  /* Gradiente de fondo para la frase principal */
  background: linear-gradient(to right, #54c6dd, #2e1a7f);
  /* Color del texto */
  color: #ffffff; /* Puedes ajustar este valor al color de texto que prefieras */
  
  /* Espaciado interno para la frase principal */
  padding: 7rem; /* Ajusta este valor según tus necesidades para agregar espacio interno */
  
  /* Borde redondeado solo en las esquinas inferiores de la frase principal */
  border-radius: 0 0 15% 15%;
  
  /* Sombra para dar profundidad al contenedor */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

/* Estilos para el texto principal dentro de la frase */
.frase-principal h1 {
  /* Espaciado superior para el texto */
  margin-top: 0.6rem;
  
  /* Tipo de fuente y familia para el texto */
  font-family: "Times New Roman", Times, serif;
  
  /* Alineación y peso de la fuente */
  text-align: center;
  font-weight: bold;
  
  /* Sombra para el texto para dar un efecto visual */
  text-shadow: 0 0 3px #aaa7a7;
  
  /* Color del texto */
  color: hsl(0, 67%, 1%); /* Puedes ajustar este valor al color de texto que prefieras */
}


/*======================================*/
/* Estilos para la sección de propuestas */

/* Contenedor principal de la sección de propuestas */
.section-propuestas {
  padding: 10px 10px 60px 10px; /* Ajusta el espaciado interno */
}

/* Estilos para cada columna dentro de la sección de propuestas */
.section-propuestas .columna {
  /* Color de fondo y disposición */
  background-color: #b2eefa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  /* Transición y efectos */
  transition: all 0.2s ease-in;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3); /* Sombra */
  height: 100%;
  width: 90%; /* Ancho del 90% del contenedor padre */
  max-width: 500px; /* Ancho máximo de 500px */
  padding: 20px;
  margin-top: -5rem; /* Ajuste del margen superior */
}

/* Estilos para las imágenes dentro de las columnas */
.section-propuestas .columna img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para la imagen */
  transition: transform 0.3s; /* Transición suave */
}

/* Efecto hover para las imágenes */
.section-propuestas .columna:hover img {
  transform: scale(1.1); /* Escalado de la imagen al 110% en hover */
}

/* Efecto hover para las columnas */
.section-propuestas .columna:hover {
  color: rgb(253, 250, 250);
  background: linear-gradient(to right, #54c6dd, #2e1a7f); /* Gradiente en hover */
}

/* Estilos para los íconos dentro de las columnas */
.section-propuestas i {
  font-size: 2.5rem;
  color: #fffefe;
  background-color: #f4f4f8;
  padding: 8px 19px;
  border-radius: 50%; /* Forma circular */
}

/* Estilos para el título de la experiencia */
.experiencia-titulo {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0; /* Espaciado superior e inferior */
}

/*============================================================*/
/* Estilos para la sección de Misión y Visión */

/* Contenedor principal para la alineación y organización de contenido */
.section-mision-vision .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la columna principal */
.section-mision-vision .col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ajustes para hacer la imagen responsiva */
.imagen {
  margin-top: 20px;
  max-width: 100%; /* Hacer que la imagen sea responsiva */
  height: auto; /* Ajustar la altura automáticamente */
}

/* Efectos y transiciones para la imagen */
.imagen-container .imagen {
  transition: transform 0.3s; /* Transición suave */
}

/* Efecto de animación cuando se hace hover en la imagen */
.imagen-container:hover .imagen {
  animation: mover 2s infinite; /* Animación de movimiento */
}

/* Keyframes para la animación de movimiento */
@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%); /* Mueve la imagen a la mitad del contenedor */
  }
  100% {
    transform: translateX(0); /* Vuelve la imagen a su posición original */
  }
}

/* Estilo para la sección de Misión y Visión */
.section-mision-vision {
  position: relative;
  background: linear-gradient(to right, #42dcfb, #462ea8); /* Gradiente de fondo */
  padding: 20px 0; /* Espaciado interno */
}

/* Estilos para las líneas decorativas */
.section-mision-vision::before,
.section-mision-vision::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 2px solid white; /* Línea superior */
  z-index: 1;
}

.section-mision-vision::before {
  top: 10px; /* Posición superior */
}

.section-mision-vision::after {
  bottom: 0.6rem; /* Posición inferior */
}

/* Estilos para el texto (Misión y Visión) */
.section-mision-vision h1,
.section-mision-vision h2,
.section-mision-vision p {
  font-family: "Times New Roman", Times, serif; /* Tipo de fuente */
  text-align: center; /* Alineación del texto */
}


/*==============================================*/
/* Estilos para la sección "¿Cómo podemos ayudar?" */

/* Estilo para el contenedor principal de la sección */
.section-servicios {
  padding: 40px; /* Espaciado interno */
}

/* Estilo para el contenedor que alberga el título y la descripción */
.containerFRS {
  text-align: center; /* Alineación del texto al centro */
  font-family: "Times New Roman", serif; /* Tipo de fuente */
  padding: 10px 60px 20px 60px; /* Espaciado interno */
  position: relative; /* Posición relativa */
  background: linear-gradient(to right, #42dcfb, #462ea8); /* Gradiente de fondo */
  border-radius: 9px; /* Borde redondeado en todas las esquinas */
}

/* Estilos para los botones */
.btn-2 {
  position: relative; /* Posición relativa */
  text-align: center; /* Alineación del texto al centro */
  border-radius: 40px; /* Borde redondeado */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  overflow: hidden; /* Ocultar desbordamiento */
  background: linear-gradient(to right, #42dcfb, #462ea8); /* Gradiente de fondo */
  padding: 20px 40px; /* Espaciado interno */
  width: 100%; /* Ancho completo */
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); /* Sombra */
  border: 2px solid #000000; /* Borde sólido */
}

/* Efecto hover para los botones */
.btn-2:hover {
  transform: translateY(-5px); /* Desplazamiento hacia arriba */
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.2); /* Sombra elevada */
}


/*===========================================================*/
/* Estilos para el formulario */

/* Estilo general del contenedor del formulario */
.containform {
  padding: 10px; /* Espaciado interno */
  border: 2px solid #ccc; /* Borde sólido con color de sombra */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  background-color: #fff; /* Fondo blanco */
  margin: 20px 0; /* Margen superior e inferior */
}

/* Estilo para los controles del formulario */
.containform .form-control {
  margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilo para el botón del formulario */
.containform button {
  background-color: #28a745; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  margin-bottom: 10px; /* Espaciado inferior */
}

/* Efecto hover para el botón */
.containform button:hover {
  background-color: #218838; /* Color de fondo al pasar el mouse */
}

/* Estilo para elementos con las clases 'name' y 'paragraph' */
.name, .paragraph {
  background: linear-gradient(90deg, #42dcfb 0%, #462ea8 100%) no-repeat; /* Gradiente de fondo */
  background-size: 200% 100%; /* Tamaño del fondo */
  color: black; /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  font-family: "Times New Roman", Times, serif; /* Tipo de fuente */
  background-color: #fff; /* Fondo blanco */
  clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%); /* Forma recortada */
  animation: backgroundChange 5s infinite; /* Animación */
}

/* Animación de cambio de fondo */
@keyframes backgroundChange {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
  }
}

/*====================================*/
/* Establece las propiedades básicas del contenedor */
.contenedor-equipo-trabajo,
.contenedor-equipo-trabajo1  {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  border: 1px solid #462ea8;
  border-radius: 40px;
  background: linear-gradient(to right, #54c6dd, #2e1a7f);
  color: white;
  padding: 20px; /* Ajuste de padding para centrar el texto */
  margin-left: 20px; /* Asegura que el segundo contenedor también tenga espacio a la izquierda */

}

.imagen-container {
  width: 30%; /* Tamaño de la imagen */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.imagen-perfil {
  width: 100%;
  height: auto;
  border-radius: 50%;
}


/*=================================================*/

/* Contacto */
.contacto .rectangulo {
  margin-top: 5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/*Footer*/

footer {
  width: 100%;
  padding: 5rem ;
  background: linear-gradient(to right, #0a0422, #462ea8);
  border-top-left-radius: 125px;
}

/*primer experimento responsive*/

/* Media Query para responsividad */
@media (max-width: 768px) {
  .body {
    width: 100%;
  }
  .carousel-item {
    /* Altura del ítem del Carousel, ajustada al 45% del ancho de la ventana */
    height: 100vw;
  }

  .section-propuestas .columna {
    margin-top: 1rem; /* Ajuste del margen superior */
  }

  .btn-2 {
    margin-bottom: 15px; /* Espaciado inferior entre botones en pantallas pequeñas */
  }
  .section-mision-vision .imagen {
    display: none;
  }

  .containform {
    margin: 10px; /* Ajuste de margen para dispositivos más pequeños */
  }
  .responsive-image {
    width: 100%; /* Ancho completo para imágenes responsivas */
  }

  .contenedor-equipo-trabajo,
  .contenedor-equipo-trabajo1 {
    max-width: 70%;
    margin-top: 20px;
  }

  .imagen-container {
    width: 30%; /* Ajuste del tamaño de la imagen para dispositivos móviles */
  }
}
