/*Navbar*/
.navbar {
  padding: 0.5vw;
  /*background-color: rgb(65, 29, 124);*/
  background-color: #462ea8;
}

.navbar-nav li a {
  font-family: "Times New Roman", serif;
  color: rgb(255, 253, 253);
  font-size: 1em;
  margin-right: 10px;
  padding: 0 25px;
}

.navbar-brand img {
  max-width: 150px;
  padding-left: 60px;
}

.frente1 {
  /* Crea una perspectiva para la profundidad 3D */
  background: linear-gradient(to right, #0a0422, #462ea8);
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: #fefcfc;
  font-family: "Times New Roman", Times, serif;
}
h3 {
  color: #fefcfc;
  font-family: "Times New Roman", Times, serif;
}

/*Footer*/

footer {
  padding: 15rem 0 0rem;
  background: linear-gradient(to right, #0a0422, #462ea8);
  border-top-left-radius: 125px;
}
