/*Body
body {
  display: flex;
  flex-direction: column;
}*/
/* revisar tema de body y que sea responsive */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos pequeños */
  .col-16 {
    width: 100%; /* Ajusta el ancho según tus necesidades */
  }
}


/*Navbar*/
.navbar{
  padding: 0.5vw;
  background-color: rgb(65, 29, 124);
}
 
.navbar-nav li a {
    font-family: 'Times New Roman', serif;
    color: rgb(255, 253, 253);
    font-size: 1em;
    margin-right: 10px;
    padding: 0 25px;
}

.navbar-brand img {
    max-width: 150px;
    padding-left: 60px;
}

/*Carousel*/
.carousel-item {
  height: 35vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 3); /* Ajusta los valores según tus preferencias */
}

.carousel-item img{
  height: 100%;
  width: 100%;
}
/*===================================*/
/*H1 frase*/
.fraseprincipalcolor .containerFrase{
  background-color: #3498db; /* Cambia este valor al color que desees */
  color: #ffffff; /* Cambia este valor al color del texto que desees */
  padding: 7rem; /* Ajusta este valor según tus necesidades para agregar espacio interno */
  border-radius: 0 0 15% 15%; /* Borde redondeado solo en las esquinas inferiores */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3); /* Agrega sombra */

}


.frase h1 {
  margin-top: 0.6rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 3px #aaa7a7;
  color: hsl(0, 67%, 1%);
}

/*======================================*/
/*Propuestas*/
.experiencia {
    padding: 10px 10px 60px 10px;
  }
  
 .experiencia .columna {
    background-color: #dbf5fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tus preferencias */
    height: 100%; /* Utiliza el 100% del alto del contenedor padre */

    /* Utiliza el 90% del ancho del contenedor padre, con un máximo de 500px */
    width: 90%;
    max-width: 500px;
    padding: 20px; /* Ajusta el valor según la cantidad de espacio que deseas en los bordes */
    margin-top: -5rem;

}
.experiencia .columna img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus preferencias */
  transition: transform 0.3s; /* Agrega una transición suave */
}

.experiencia .columna:hover img {
  transform: scale(1.1); /* Escala la imagen al 110% de su tamaño original */
}
  
.experiencia .columna:hover {
  color: rgb(253, 250, 250);
  background-color: #4a2b87;
}
  
.experiencia i {
  font-size: 2.5rem;
  color: #fffefe;
  background-color: #f4f4f8;
  padding: 8px 19px;
  border-radius: 50%;
}
  
.experiencia-titulo {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}


/*============================================================*/
/*imagen transicion mision y vision*/
.shaped-section {
  position: relative;
  background-color: #3498db; /* Color de fondo del interior de la forma */
  overflow: hidden;
  height: 200px; /* Ajusta la altura de tu sección */

}

.shaped-section:before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%); /* Define la forma de "S" aquí */
  background-color: #3498db; /* Color de fondo del interior de la forma */
}

.imagen {
  width: 50vh; /* Ancho de 50% del viewport height */
  height: 50vh; /* Alto de 50% del viewport height */
}

.imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Para ocupar toda la altura del contenedor */
}

/* Estilo base de la imagen */
.imagen-container .imagen {
  transition: transform 0.30s; /* Agrega una transición suave */
}

/* Estilo de la imagen cuando se haga hover (cursor sobre la imagen) */
.imagen-container:hover .imagen {
  animation: mover 2s infinite; /* Agrega una animación de movimiento */
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%); /* Mueve la imagen a la mitad del contenedor */
  }
  100% {
    transform: translateX(0); /* Vuelve la imagen a su posición original */
  }
}

/*=============================*/
/*estilo separacion*/

.informeMision {
  position: relative;
  background: linear-gradient(to right, #42dcfb, #0e43e0);
  padding: 20px 0;
}

.informeMision::before,
.informeMision::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid white; /* Color y grosor de la línea superior */
  z-index: 1;
}

.informeMision::before {
  top: 10;
}

.informeMision::after {
  bottom: 0.6;
}

/*===============================*/
/*Letras  mision y vision*/
.informeMision h1{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.informeMision h2 {
  font-family: "Times New Roman", Times, serif;
}
.informeMision p {
  font-family: Arial, sans-serif;
}

/*COMO PODEMOS AYUDAR*/
.ofrecemos {
  padding: 40px;
}

.btn-2 {
  position: relative;
  text-align: center;
  border-radius: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  background-color: #04f6fe;
  padding: 20px 40px;
  width: 100%;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  border: 2px solid #000000;
}

.btn-2::after,
.btn-2::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #1302ff;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  transform: scale(1);
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  border: 2px solid #000000;
}

.btn-2:hover {
  transform: translate(-5px, -5px) scale(1.1);
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid #0af3cc;
}

.btn-2:hover::after {
  transform: translate(5px, 5px);
}

.btn-2:hover::before {
  transform: translate(10px, 10px);
}



/* Ajustar la altura del colapso en función de la altura del contenido */


/*como podemos ayuar mensaje en nube */
.containerFRS {
  text-align: center;
  font-family: 'Times New Roman', serif;
  padding: 10px 60px 20px 60px;
  position: relative;
  background-color: #04f6fe;
  border-radius: 9px; /* Borde redondeado solo en las esquinas superiores */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 52% 78%, 52% 100%, 51% 77%, 0 75%);
  animation: fondoColor 10s infinite;
}

@keyframes fondoColor {
  0% {
    background-color: #04f6fe;
  }
  100% {
    background-color: #cd91f7;
  }
}


/*===========================================================*/
/*formulario*/
/*.formulario1 {
  background-color: #ae8df4;
}*/


.containform {
  padding: 10px;
  border: 2px solid #ccc; /* Borde personalizado */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra personalizada */
  margin-bottom: 20px; /* Espacio entre los campos de formulario */
  background-color: #fff;
}

.containform .form-control {
  margin-bottom: 10px; /* Espacio entre los campos de formulario */
}

.containform button {
  background-color: #28a745; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Quita el borde del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  margin-bottom: 10px;

}

.containform button:hover {
  background-color: #218838; /* Cambia el color de fondo al pasar el mouse */
}

/*efecto transicion*/
/* Estilo para elementos con la clase 'name' */
.name {
  background: linear-gradient(90deg, transparent 0%, violet 0%) no-repeat;
  background-size: 200% 100%;
  color: black;
  animation: backgroundChange 3s infinite ;
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

@keyframes backgroundChange {
  0% {
    background-position:  -100% 0 ; /* Comienza con la flecha completamente visible en la izquierda */
  }
  100% {
    background-position: 100% 0; /* Termina con la flecha completamente visible en la derecha */
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  }
}
.paragraph {
  background: linear-gradient(90deg, transparent 0%, rgb(255, 161, 21) 0%) no-repeat;
  background-size: 200% 100%;
  color: black;
  animation: backgroundChange1 5s infinite ;
  clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;



}

@keyframes backgroundChange1 {
  0% {
    background-position:  -100% 0 ; /* Comienza con la flecha completamente visible en la izquierda */
  }
  100% {
    background-position: 100% 0; /* Termina con la flecha completamente visible en la derecha */
    clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
  }
}
/*====================================*/
/*Equipo de trabajo*/
/*.equipotrabajo{
  padding: 50PX;
  bottom: 40px;
}*/

.imagen-circular {
  width: 150px; /* Ajusta el ancho según tus preferencias */
  height: 150px; /* Ajusta la altura según tus preferencias */
  border-radius: 50%; /* Esto hace que el borde sea circular */
  object-fit: cover; /* Para mantener la imagen proporcional y llenar el círculo */
}
.col-12.col-md-6.align-items-center h2.fw-normal {
  color: white;
}

.col-12.col-md-6.align-items-center p {
  text-align: left;
  color: white;
  width: 500px;

}
.col-12.col-md-6.align-items-center{
  text-align: center;
  background-color: #5858fa;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

/*.seccion-diagonal {
  background: linear-gradient(to top right, rgb(14, 199, 245) 0%, rgb(241, 12, 34) 100%);
  padding: 30px; /* Puedes ajustar esto según tus necesidades */
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 10); 
}*/

/*=================================================*/

  /* Contacto */
  .contacto .rectangulo {
    margin-top: 5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
  }
  
  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .contacto .descripcion {
    color: white;
    font-size: 1.2rem;
  }
  
  .contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover {
    background-color: white;
    color: black;
  }
  
  .contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover i {
    color: black;
  }

/*Footer*/

footer{
  padding: 15rem 0 0rem;
  background: linear-gradient(to right, #00093c, #2d0b00);
  border-top-left-radius: 125px;
}

/*primer experimento responsive*/



