/*Navbar*/
.navbar {
  padding: 0.5vw;
  /*background-color: rgb(65, 29, 124);*/
  background-color: #462ea8;
}

.navbar-nav li a {
  font-family: "Times New Roman", serif;
  color: rgb(255, 253, 253);
  font-size: 1em;
  margin-right: 10px;
  padding: 0 25px;
}

.navbar-brand img {
  max-width: 150px;
  padding-left: 60px;
}

.frente1 {
  /* Establece la imagen de fondo y asegura que cubra toda la sección */
  background-image: url('static/img/Posicionamiento1.jpeg');
  background-size: cover;
  background-position: center;
  /* Establece otros estilos si lo necesitas, como altura, padding, etc. */
}

/* Estilo para el contenedor principal */
.container-sectPrin {
  /* Ajusta los estilos según tus necesidades */
}

/* Estilo para el texto dentro de la sección */
.frente1 h1, .frente1 h3 {
  /* Establece el color del texto para que sea legible en la imagen de fondo */
  color: rgb(5, 5, 5); 
  text-align: center;
  font-family: "Times New Roman", Times, serif;

  /* Otros estilos según tus preferencias */
}


.imagen {
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  max-width: 35rem; /* Establece un ancho máximo de 500px */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}


/*Footer*/

footer {
  padding: 15rem 0 0rem;
  background: linear-gradient(to right, #0a0422, #462ea8);
  border-top-left-radius: 125px;
}
