<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#">Navbar scroll</a>-->
    <a class="navbar-brand" href="/welcome.html">
      <img src="static/img/CASCO2.0.png"  alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNav">
      <ul class="navbar-nav justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link "  href="/welcome.html">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros.html">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="/welcome.html#formulario1">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

