<!-- Barra de navegación principal de la página web -->
<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Contenedor fluido para alinear los elementos -->
  <div class="container-fluid">
    <!-- Enlace del logo que redirige a la página de inicio -->
    <a class="navbar-brand" href="/welcome.html">
      <img src="static/img/CASCO2.0.png" alt="Logo de la empresa" />
    </a>
    
    <!-- Botón para mostrar/ocultar la barra de navegación en dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Contenedor de la lista de enlaces de navegación -->
    <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNav">
      <!-- Lista de enlaces de navegación centrada horizontalmente -->
      <ul class="navbar-nav justify-content-center align-items-center">
        <!-- Elemento de la lista para la sección "¿Quiénes somos?" -->
        <li class="nav-item">
          <a class="nav-link" href="/welcome.html">¿Quiénes somos?</a>
        </li>
        
        <!-- Elemento de la lista para la sección "Blog" -->
        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
        
        <!-- Elemento de la lista para el botón de contacto -->
        <li class="nav-item">
          <a class="btn btn-primary" href="/welcome.html#formulario1">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
